.matchSmallCard {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 2rem;
    
}

.wonSmall-card {
        padding: 10px;
    color: rgb(75, 154, 75);
        font-size: 1.5rem;
}

.lostSmall-card {
        padding: 10px;
    color: rgb(194, 59, 59);
    font-size: 1.5rem;
}