.TeamTile{
    height: 150px;
    text-align: center;
}

.blocks{
    padding-top: 10px;
    height: 170px;
    border: 1px white solid;
    text-align: center;
    justify-self: center;
    align-self: center;
}